.subscribe {
    transform: translateY(50%);

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 58.5px 70px;
        background: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 46px 114px rgba($color: #0D1025, $alpha: 0.06);

        button:hover {
            opacity: 0.8;
        }
    }
    
    &-heading{
        width: 372px;
    }
    &-title{
        font-weight: 500;
        font-size: 35px;
        line-height: 45px;
    }
    &-desc{
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        margin-top: 20px;
    }


}

@media screen and (max-width: 767.98px) {
    .subscribe {
        transform: unset;

        &-container {
            margin-top: 40px;
            flex-direction: column;
        }

        &-heading {
            width: 300px;
            text-align: center;
            margin-bottom: 30px;
        }
    }
}
